html { scroll-behavior: smooth; }

body, html {
  margin: 0;
  padding: 0;
  /* background: gray; */
  height: 100%;
  background:linear-gradient(120deg, #12C9FF,#8380E8);
}

.box{
  width:360px;
  background:#f4f4f4;
  opacity: .8;
  height:520px;
  padding:80px 40px;
  box-sizing: border-box;
  border-radius:10px;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.box .b__title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.5rem;
  font-weight: 600;
  color:#000;
  font-family: 'Roboto Condensed', sans-serif;
}

.box .txtb{
  border-bottom:2px solid #adadad;
  position: relative;
  margin:30px 0;
}

.txtb input{
  font-family: 'Roboto Condensed', sans-serif;
  color:#000;
  font-size:1rem;
  border:none;
  width:100%;
  outline:none;
  background:none;
  padding:0 5px;
  height: 40px;
}

.txtb span:after{
  content:'';
  position: absolute;
  display: block;
  width:0%;   
  height: 2px;
  background:linear-gradient(120deg, #12C9FF,#8380E8);
  transition: .5s;
}

.txtb span:before{
  display: block;
  content:attr(data-placeholder);
  position: absolute;
  top:50%;
  left:5px;
  color:#aaa;
  font-family: 'Roboto Condensed', sans-serif;
  transform:translateY(-50%);
  z-index: -1;
  transition:.5s;
}

.txtb input::placeholder {
  color: #000;
}

.focus + span::before {
  top: -5px;
}

.focus + span:after{
  width:100%;
}

.box .btn__customized:hover{
  background-position:right;
}
.box .btn__customized{
  transition: .5s;
  width:100%;
  font-size:1rem;
  font-family:'Roboto Condensed', sans-serif;
  color:#fff;
  padding:12px 8px;
  border:none;
  outline:none;
  cursor:pointer;
  background:linear-gradient(120deg, #3498db,#8244ad,#3498db);
  background-size:200%;
}

.box .b-text{
  text-align: justify;
  margin-top:40px;
}

.box  p{
  font-family:'Roboto Condensed', sans-serif;
  font-weight: bold;;
  font-size:13px;
  color:#aaa;
}

.box .text__link{
  font-size:12px;
  color:#fff;
  transition: .3s;
}

.box .text__link:hover{
  color:rgb(0, 153, 255);
}